body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
	width: 200px !important ;
}

.login-heading{
	vertical-align: middle;
	margin-bottom: 30px;
	position: relative;
}

.login-heading .centered{
	vertical-align: middle;
}


.login-heading span.glyphicon{
	position: absolute;
	left:10px;
	top:-5px;
	font-size:38px;
	vertical-align: middle;
}

.form-group{
	margin-bottom: 20px !important;
}

.form-group .btn-default{
	color: #428BCA;
	width: 100px;
	height: 34px;
	border-radius: 20px;
	padding: 0;
}

.form-control{
  letter-spacing: .11em;
  font-size: .7em;
  padding-left: 6px;
  padding-bottom: 2px;
  padding-top: 10px;
}

.has-danger .form-control{
	border-color: #ff9999;
	border-width: 3px;
}

.green{
	color: LimeGreen;
}

.gold{
	color: Orange;
}

.glyphicon.glyphicon-cog{
	font-size:28px;
	vertical-align: middle;
}